:root {
    --Poppins: 'Poppins', sans-serif;
    --DMSans: 'DMsans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.container {
    max-width: 1320px;
    padding: 0 20px;
    margin: 0 auto;
}

header {
    width: 100%;
    background: #00353B;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    gap: 191px;
    padding: 15px;
}

a {
    text-decoration: none;
}

.navigation {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 24px;
}

.navigation li a {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.navigation li a:hover {
    opacity: 0.5;
    transition: 0.7s ease;
}

.forms {
    display: flex;
    align-items: center;
    gap: 25px;
}

.forms a i {
    margin-right: 8px;
}

.forms a {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.forms a:hover {
    opacity: 0.7;
    transition: 0.5s ease;
}

.forms button {
    padding: 8px 20px;
    background: #FFFFFF;
    border-radius: 8px;
    border: none;
}

.forms button a{
    color: #1F2937;
}

.forms button:hover {
    opacity: 0.7;
    transition: 0.5s ease;
}

.home {
    background: #00353B;
    padding-top: 48px;
    padding-bottom: 164px;
}

.home__content {
    display: grid;
    grid-template-columns: 598px 600px;
    gap: 82px;
    align-items: center;
    margin-bottom: 80px;
}

.home__title-blog h1 {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 67px;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.home__title-blog p {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 39px;
    width: 550px;
}

.home__title-blog .buttons a:first-of-type{
    padding: 13px 25px;
    background: #22A45A;
    border-radius: 8px;
    margin-right: 16px;
}

.home__title-blog .buttons a{
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.home__title-blog .buttons a:hover {
    opacity: 0.5;
    transition: 0.7s ease;
}

.home__title-blog .buttons {
    margin-bottom: 50px;
}

.home__content .images img {
    margin-right: 5px;
    border: 2px solid #FFFFFF;
}

.home__content .images .img-back {
    position: relative;
}

.home__content .images .img-top{
    position: absolute;
    top: 0;
    left: 31px;
}

.home__image-blog {
    position: relative;
}

.home__image-blog img:last-of-type {
    position: absolute;
    bottom: 80px;
    left: -105px;
}

.home__stars p {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.img-main-title {
    display: grid;
    grid-template-columns: 180px 132px;
}

.home__paragraph p {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    text-align: center;
    color: #FFFFFF
}

.box-container-1 {
    height: 200px;
    background-color: #00353B;
}

.box-container-1 .box {
    width: 1280px;
    padding: 64px 275px;
    background: #FCD8CA;
    border-radius: 24px;
    text-align: center;
}

.box-container-1 .box a:first-of-type {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 4px 8px;
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1F2937;
}

.box-container-1 .box a:last-of-type {
    background: #1F2937;
    border-radius: 8px;
    padding: 13px 25px;
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.box-container-1 .box a:hover {
    opacity: 0.6;
    transition: 0.7s ease;
}

.box-container-1 .box h2 {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #1F2937;
    margin-bottom: 15px;
}

.box-container-1 .box p {
    width: 700px;
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #374151;
    margin-bottom: 39px;
}

.box-container-2 {
    height: 167px;
}

.page-1__content {
    display: grid;
    grid-template-columns: 576px 574px;
    gap: 128px;
    align-items: center;
    margin-top: 160px;
    margin-bottom: 128px;
}

.page-1__content-title h2 {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #1F2937;
    margin-bottom: 28px;
}

.page-1__content-title p {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #4B5563;
    margin-bottom: 39px;
}

.page-1__content-title a:first-of-type {
    padding: 13px 25px;
    background: #1F2937;
    border-radius: 8px;
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 16px;
}

.page-1__content-title a:last-of-type {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
}


.page-1__content-title a:first-of-type:hover {
    opacity: 0.5;
    transition: 0.7s ease;
}

.page-1__content-title a:last-of-type:hover {
    color: #245639;
    opacity: 0.5;
    transition: 0.7s ease;
}

.page-2__content {
    display: grid;
    grid-template-columns: 576px 574px;
    gap: 128px;
    align-items: center;
    margin-bottom: 128px;
}

.page-2__content-title h2 {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #1F2937;
    margin-bottom: 28px;
}

.page-2__content-title p {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #4B5563;
    margin-bottom: 39px;
}

.page-2__content-title a:first-of-type {
    padding: 13px 25px;
    background: #1F2937;
    border-radius: 8px;
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 16px;
}

.page-2__content-title a:last-of-type {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #111827;
}


.page-2__content-title a:first-of-type:hover {
    opacity: 0.5;
    transition: 0.7s ease;
}

.page-2__content-title a:last-of-type:hover {
    color: #245639;
    opacity: 0.5;
    transition: 0.7s ease;
}

.page-3__content {
    margin-bottom: 128px;
}

.page-3__content-title {
    margin-bottom: 63px;
    text-align: center;
}

.page-3__content-title a {
    background: #FCD8CA;
    border-radius: 4px;
    padding: 4px 6px;
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1F2937;
    margin-bottom: 11px;
}

.page-3__content-title a:hover {
    opacity: 0.7;
    transition: all 0.7s ease;
}

.page-3__content-title h2 {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #1F2937;
    margin-bottom: 29px;
}

.page-3__content-title p {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #4B5563;
    width: 700px;
    display: inline-block;
}

.page-3__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.page-3__card {
    width: 405px;
    height: 500px;
    padding: 32px 0 32px 24px;
    background: #00353B;
    border-radius: 16px;
    position: relative;
}

.page-3__card .text a {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 4px 8px;
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1F2937;
}

.page-3__card a:hover {
    opacity: 0.5;
    transition: 0.7s ease;
}

.page-3__card h4 {
    margin-top: 16px;
    margin-bottom: 15px;
    width: 244px;
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #FFFFFF;
}

.page-3__card span {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
}

.page-3__card img {
    position: absolute;
    right: 0;
    bottom: 0;
}

.page-3__card .btn a{
    background: #22A45A;
    border-radius: 8px;
    padding: 9px 21px;
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    position: absolute;
    bottom: 32px;
}

.page-4 {
    margin-bottom: 191px;
}

.page-4__box {
    margin-bottom: 80px;
    display: flex;
    align-items: center;
}

.page-4__box-title {
    padding: 64px 64px 98px 64px;
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
    background: #FCD8CA;
    height: 539px;
}

.page-4__box-title a:first-of-type {
    background: #FFFFFF;
    border-radius: 4px;
    padding: 4px 8px;
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #1F2937;
}

.page-4__box-title a:hover {
    opacity: 0.5;
    transition: 0.7s ease;
}

.page-4__box-title h2 {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #1F2937;
    width: 478px;
    margin-top: 11px;
}

.page-4__box-title p {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #374151;
    margin-top: 28px;
    margin-bottom: 52px;
}

.page-4__box-title a:last-of-type{
    background: #1F2937;
    border-radius: 8px;
    padding: 13px 25px;
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

.page-4__box-img {
    height: 539px;
}

.page-4__cards {
    display: flex;
    align-items: center;
    gap: 65px;
}

.page-4__cards .card img {
    margin-bottom: 32px;
}

.page-4__cards .card h4 {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #1F2937;
    margin-bottom: 24px;
}

.page-4__cards .card p {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #4B5563;
}

.page-5__content {
    margin-bottom: 128px;
}

.page-5__content-title {
    text-align: center;
    margin-bottom: 79px;
    width: 670px;
    margin-left: 305px;
}

.page-5__content-title a {
    background: #FCD8CA;
    border-radius: 4px;
    padding: 4px 8px;
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}

.page-5__content-title h2 {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    color: #1F2937;
    margin-top: 11px;
}

.page-5__content-title p {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #4B5563;
    margin-top: 28px;
}

.page-5__content-cards {
    display: grid;
    grid-template-columns: repeat(3, 237px 507px 237px);
    gap: 97px;
    align-items: center;
    padding-left: 54px;
    margin-bottom: 80px;
}

.page-5__content-card-1 {
    display: flex;
    flex-direction: column;
    gap: 63px;
    text-align: center;
}

.page-5__content-card img {
    margin-bottom: 24px;
}

.page-5__content-card h4 {
    font-family: var(--Poppins);
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #1F2937;
    margin-bottom: 15px;
}

.page-5__content-card p {
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #4B5563;
}

.page-5__content .btn {
    background: #1F2937;
    border-radius: 8px;
    padding: 13px 25px;
    font-family: var(--DMSans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    margin-left: 565px;
}

.page-5__content a:hover {
    opacity: 0.8;
    transition: all 0.7s ease;
}